* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}
input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1rem auto;
}
button {
  width: 100px;
  padding: 0.3rem 0;
  border-radius: 10px;
}
.post {
  border: 0.5px solid gray;
  background-color: aliceblue;
  width: 80%;
  margin: 0.5rem auto;
  padding: 0.3rem;
  border-radius: 5px;
  position: relative;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head span:nth-child(1) {
  color: rgb(111, 111, 246);
}
.head span:last-child {
  color: rgb(246, 111, 111);
}
.post p {
  padding: 0.5rem;
}
.post:hover {
  box-shadow: 0px 3px 10px 4px rgba(152, 147, 245, 1);
}
.spinnerContainer {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(184, 184, 225, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 75px;
  height: 75px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
